:root {
--primary-text-color: #757575;
--title-text-color: #212121;
--accent-color: #2196f3;
--primari-bg-color: #ffffff;
--white-text-color: #ffffff;
--hero-footer-bg-color: #2f303a;
}

body {
    background-color: var(--primari-bg-color);
    color: var(--primary-text-color);
}

.list {
    list-style: none;
}

/* Шапка сайту */
.logo, .logo-part:hover {
    color: var(--accent-color);
}

.logo-part {
    color: #000000; 
}

/* Навігація сайту */
.site-nav .link {
    color: var(--title-text-color);
}

.site-nav .link.current,
.site-nav .link:hover,
.site-nav .link:focus {
    color: var(--accent-color);
}

/* Контакти */
.contacts {
    color: var(--primary-text-color);
}

.contacts:focus, .contacts:hover {
    color: var(--accent-color);
}

/* Герой */
.hero {
    background-color: var(--hero-footer-bg-color);
    color:var(--white-text-color);
    }

.hero-button {
    background-color: var(--accent-color);
    color: var(--white-text-color);
}

/* Секції */
.section-title {
    color: var(--title-text-color);
}
/* Особливості */
.features .title {
    color: var(--title-text-color);
}

/* Чим ми займаємось */
/*  .section {}
    .section .list {} */

/* Наша команда */
.team {
    background-color: #F5F4FA;
}

.workers {
    background-color: var(--primari-bg-color);
}

.workers .title {
    color: var(--title-text-color);
}

/* Проекти */
.projects .title {
    color: var(--title-text-color);
}

/* Фільтри */
.filters .filters-button {
    color: var(--title-text-color);
}

.filters .filters-button.current {
    color: var(--white-text-color);
    background-color: var(--accent-color);
}

.filters .filters-button:hover,
.filters .filters-button:focus {
   color: var(--accent-color); 
}

/* Види проектів */
.projects-item {

}

.projects-link {

}

.projects-item .projects-name {
    color: var(--title-text-color);
}

.projects-item .projects-type {
    color: var(--primary-text-color);
}

.projects-item .projects-name:hover,
.projects-item .projects-name:focus,
.projects-item .projects-type:hover,
.projects-item .projects-type:focus {
color: var(--accent-color);
}

/* Футер сайту */
.footer-section {
    background-color: var(--hero-footer-bg-color);
}

.footer-section .logo-part {
    color: var(--white-text-color);
}

.address {
    color: var(--white-text-color)
}

.address:hover, .address:focus {
    color: var(--accent-color);
}

.footer-contacts {
    color: rgba(255, 255, 255, 0.6);
}

.footer-contacts:hover, .footer-contacts:focus {
    color: var(--accent-color);
}